body {
  color: #000080;
  background-color: #ffffff;
}

a {
  color: #800080;
}

a:visited {
  color: #ff0000;
}

ul {
  width: 1000px;
  margin: 16px auto;
  overflow: hidden;
}

li {
  float: left;
  display: inline;
  line-height: 3em;
}

.double li {
  width: 50%;
}

header {
  text-align: center;
  border-bottom: 1px solid black;
}

address {
  font-style: normal;
  font-weight: bold;
}

h1 span {
  font-size: 1.5em;
}

footer div {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

div#geico {
  border-top: 1px solid black;
}

div#geico p {
  text-align: center;
}

div#geico, footer {
  font-size: .75em;
}


/*
What is important to know when linking an external file (like a stylesheet) to an HTML file?
•It is important to know where it is in your directory, how to use the correct code and that it needs to go in the header of the HTML page.


What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
• We tried many different things - display properties, display as a table, columns, float, overflow. We couldn't a find a combination of these tags in CSS that worked exactly as we wanted them to.

What CSS did you use to modify the element style (like size, color, etc.)
• We used font-size, color, text-align, font-weight, font-style.

Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?
• Yes, we added a class to the list items (li) tag because this is something we might have reused throughout our CSS document. We used a ID on the Geico section at the bottom because that was clearly only going to be used once.

When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
• Even though we had trouble getting our site to look like the Berkshire Hathaway site, we believe our code is cleaner because they use inline styles and tables for content that isn't tabular data. They aren't using HTML5 elements (maybe that didn't exist when they created this site). They also used the bold HTML tag, instead of styling it in CSS.

*/

